{"presets": [
    ["@babel/preset-env"],
    [
        "@babel/preset-react",
        {
            "runtime": "automatic",
            "importSource": "react"
        }
    ]
],
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-modules-commonjs", "@babel/plugin-transform-runtime", "@emotion/babel-plugin"]
      },
      "production": {
        "plugins": ["@emotion"]
      },
     
    },
    "plugins": ["@emotion"],
  }
