$dark-purple: #171d3d;
$blue: #5599ec;
$medium-grey: #e5e5e5;
$dark-grey: #5f6368;

.sub-currencies-rates-cont {
  background-color: $dark-purple;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 0 0 0.4rem 0.4rem;
  bottom: 0;
}

.sub-currencies-rates-cont_light {
  background-color: $medium-grey;
}

.sub-currencies-rates-cont__rate {
  font-size: 0.8rem;
  line-height: 0.5;
}

.sub-currencies-rates-cont__delimiter {
  color: $blue;
  margin: 0 0.6rem;
}

.sub-currencies-rates-cont__delimiter_light {
  color: $dark-grey;
}
