$dark-purple: #171d3d;
$light-purple: #31335a;
$white: #ffffff;
$white-purlpe: #f0f3ff;
$light-grey: #dbdbdb;

.rates-input-set {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rates-input-set__input {
  width: 22%;
  background-color: $dark-purple;
  border: 1px solid $light-purple;
  border-radius: 0.3rem;
  color: $white;
  padding: 0.8rem 1rem;
  margin-top: 1.6rem;
}

.rates-input-set__input_light {
  background-color: $white;
  color: $dark-purple;
  border-color: $light-grey;
  outline: none;
}
