$blue: #5599ec;
$dark-grey: #5f6368;

.sub-currencies-container {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  min-height: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.sub-currencies-container_light {
  .sub-currencies-container__sep_currency {
    .sub-currencies-container__sep_currency_type {
      color: $dark-grey;
    }
  }
}

.sub-currencies-container__sep_currency {
  display: flex;
  flex-direction: column;
  align-items: center;

  .sub-currencies-container__sep_currency_type {
    color: $blue;
    font-size: 0.8rem;
  }

  .sub-currencies-container__sep_currency_sum {
    margin-top: 0.4rem;
    font-weight: 700;
  }
}
