$purple: #24274a;
$dark-purple: #171d3d;
$white: #ffffff;
$light-grey: #dbdbdb;

.form-container {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error-text {
  margin: 0.3rem 0 0;
}
