$light-purple: #31335a;
$blue: #5599ec;

header {
  background-color: $light-purple;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;

  svg {
    //margin: 0.5rem 2rem;
    color: $blue;
  }

  .theme-switch-icon {
    font-size: 2rem;
    margin-right: 2rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.light-header {
  background-color: white;
  border-bottom: 1px solid $light-purple;
}
