$light-purple: #31335a;
$purple: #24274a;
$white: #ffffff;
$dark-grey: #5f6368;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $light-purple;
  padding: 0.6rem;
  background-color: $purple;

  .footer-text {
    font-weight: 500;
    font-size: 0.9rem;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: darken($white, 10);
      }
    }
  }
}
