$light-purple: #31335a;
$purple: #24274a;
$white: #ffffff;
$dark-grey: #5f6368;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $light-purple;
  padding: 0.6rem;
  background-color: $purple;
}

.footer_light {
  background-color: $white;
  border: none;
  box-shadow: -1px -1px 3px #ddd;
}

.footer__text {
  font-weight: 500;
  font-size: 0.9rem;
}

.footer__link {
  text-decoration: none;
  color: white;

  &:hover {
    color: darken($white, 10);
  }
}

.footer__link_light {
  color: $dark-grey;

  &:hover {
    color: darken($dark-grey, 10);
  }
}
