$light-purple: #31335a;
$blue: #5599ec;
$dark-grey: #5f6368;

.main_currency__title {
  margin: 0;
}

.main_currency__sum-container {
  border-bottom: 1px solid lighten($light-purple, 15);
  min-height: 6.8rem;
}

.main_currency__sum {
  color: $blue;
  font-weight: 700;
  line-height: 0.7;
  padding: 2.4rem 1rem;
  margin: 0;
  font-size: 3rem;
}

.main_currency__sum_light {
  color: $dark-grey;
}
