$light-purple: #31335a;
$dark-purple: #171d3d;
$blue: #5599ec;
$light-grey: #f1f3f4;
$medium-grey: #e5e5e5;
$dark-grey: #5f6368;

@mixin box-shadow {
  -webkit-box-shadow: 0px 18px 23px -3px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 18px 23px -3px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 18px 23px -3px rgba(0, 0, 0, 0.51);
}

@mixin no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.display {
  background-color: $light-purple;
  border-radius: 0.4rem;
  position: relative;
  width: 100%;
  padding: 3rem 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include box-shadow;
}

.display_light {
  background-color: $light-grey;
  @include no-shadow;
}
