$purple: #24274a;
$dark-purple: #171d3d;
$light-purple: #31335a;
$white: #ffffff;

.App {
  min-height: 100vh;
  width: 100%;
  background-color: $purple;
  color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App_light {
  background-color: $white;
  color: $dark-purple;
}

.content-container {
  width: 96%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-style: italic;
    line-height: 0.8;
    margin: 2rem 0 0 0;
  }

  h3 {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    q {
    }
  }

  .content-columns-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 720px) {
  .content-container {
    width: 700px;

    .content-columns-container {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;

      .content-column {
        width: 47%;

        .display {
          margin-top: 0;
        }
      }
    }
  }
}
