$purple: #24274a;
$dark-purple: #171d3d;
$light-purple: #31335a;
$blue: #5599ec;
$green: #174f5e;
$lightgreen: #5cbabc;
$white: #ffffff;

@mixin box-shadow {
  -webkit-box-shadow: 0px 18px 23px -3px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 18px 23px -3px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 18px 23px -3px rgba(0, 0, 0, 0.51);
}

.big-icon {
  font-size: 2rem;
}

.App {
  min-height: 100vh;
  width: 100%;
  background-color: $purple;
  color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  width: 96%;
  margin: 1.6rem auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-style: italic;
    line-height: 0.4;
    margin: 2rem 0 0 0;
  }

  h3 {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    q {
    }
  }

  .content-columns-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
  }
}

@media (min-width: 720px) {
  .content-container {
    width: 700px;

    .content-columns-container {
      margin-top: 2rem;
      flex-direction: row;

      .content-column {
        width: 50%;

        .display {
          margin-top: 0;
        }
      }
    }
  }
}
