$purple: #24274a;
$dark-grey: #5f6368;

.logo-container {
  .logo {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 0.6;
    cursor: pointer;
  }
}

.light-logo {
  color: $dark-grey;
}
